.container {
    background-image: url('../../../public/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;


    @media(min-width: 425px) {
        background-image: url('../../../public/images/banner.png');
    }

    @media(max-width: 425px) {
        display: none;
    }
}

.containerButton {
    width: 100%;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;

    button {
        // background-color: #006e91;
        background-color: #006e8f;
        width: 14rem;
        border: none;
        padding: 1rem;
        border-radius: 8px;
        font-family: 'Road Rage', sans-serif;
        color: white;
        font-size: 2rem;
        animation: pop 1s infinite;
        cursor: pointer;

        &:hover {
            background-color: #0286ae;
        }
    }
}

@keyframes pop {
    from {
        width: 15rem;
        padding: 1.2rem;
        border: 3px #ffb400;
        box-shadow: 0px 0px 47px -9px #ffb400;
    }

    to {
        width: 14rem;
        padding: 1rem;
    }
}